<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>
                    LOGO LABO
                </p>
                <div class="card">
                    <div class="card-body">

                        <mat-tab-group mat-align-tabs="center">

                            <mat-tab label="INFORMATIONS" class="icon">

                                <div class="card">
                                    <div class="card-header card-header-info">
                                        <h4 class="card-title ">MEDECIN</h4>
                                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                                    </div>

                                    <div class="card-body">




                                    </div>
                                </div>




                            </mat-tab>
                            <mat-tab label="PATIENTS " class="icon">
                                <div class="card">
                                    <div class="card-header card-header-success">
                                        <h4 class="card-title ">LISTE DES PATIENTS DU MEDECIN : XXXXXXXXXXXXXXXXXXXX
                                        </h4>
                                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                                    </div>

                                    <div class="card-body">


                                        <form>
                                            <div class="row ">                                                
                                                <div class="col-md-3">
                                                    <mat-form-field class="example-full-width">
                                                        <input type="text" class="form-control" id="inputPassword4"
                                                            placeholder="NUMERO DOSSIER">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3">
                                                    <mat-form-field class="example-full-width">
                                                        <input type="text" class="form-control" id="inputPassword4"
                                                            placeholder="IPP">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3">
                                                    <mat-form-field class="example-full-width">
                                                        <input type="text" class="form-control" id="inputPassword4"
                                                            placeholder="NOM PATIENT">
                                                    </mat-form-field>
                                                </div>
                                                <div class="input-group col-md-3">
                                                    <button mat-raised-button type="submit"
                                                        class=" btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="card-body table-responsive ">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        identifiant
                                                    </th>
                                                    <th>
                                                        patient
                                                    </th>
                                                    <th>
                                                        email
                                                    </th>
                                                    <th>
                                                        ipp
                                                    </th>
                                                    <th>
                                                        action
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            1658477453
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">
                                                            <a href="#/patient/infopatient"><img
                                                                    src="/assets/icon/vue.png" alt="" srcset=""></a>
                                                            <a href="#deleteCollabModal" data-toggle="modal"><img
                                                                    src="/assets/icon/del.png" alt="" srcset=""></a>

                                                            <a href="#up" data-toggle="modal"><img
                                                                    src="/assets/icon/up.png" alt="" srcset=""></a>
                                                            <a href="#lock" data-toggle="modal"><img
                                                                    src="/assets/icon/unlock.png" alt="" srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2254796325
                                                        </td>
                                                        <td>
                                                            Minerva Hooper
                                                        </td>
                                                        <td>
                                                            Curaçao@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">
                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href="#unlock" data-toggle="modal"><img
                                                                    src="/assets/icon/lock.png" alt="" srcset=""></a>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            3148756952
                                                        </td>
                                                        <td>
                                                            Sage Rodriguez
                                                        </td>
                                                        <td>
                                                            Netherlands@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">

                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/unlock.png" alt=""
                                                                    srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            4635214785
                                                        </td>
                                                        <td>
                                                            Philip Chaney
                                                        </td>
                                                        <td>
                                                            Korea,South@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">

                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/lock.png" alt=""
                                                                    srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            5365214789
                                                        </td>
                                                        <td>
                                                            Doris Greene
                                                        </td>
                                                        <td>
                                                            Malawi@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">
                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/lock.png" alt=""
                                                                    srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            6325146954
                                                        </td>
                                                        <td>
                                                            Mason Porter
                                                        </td>
                                                        <td>
                                                            Chile@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">

                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/lock.png" alt=""
                                                                    srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1658477453
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">
                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/unlock.png" alt=""
                                                                    srcset=""></a>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1658477453
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger@mail.com
                                                        </td>
                                                        <td>
                                                            545565569
                                                        </td>
                                                        <td class="text-primary">

                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/lock.png" alt=""
                                                                    srcset=""></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1658477453
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger@mail.com
                                                        </td>
                                                        <td>
                                                            585588
                                                        </td>
                                                        <td class="text-primary">
                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/unlock.png" alt=""
                                                                    srcset=""></a>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1658477453
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">
                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/unlock.png" alt=""
                                                                    srcset=""></a>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1658477453
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">
                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/lock.png" alt=""
                                                                    srcset=""></a>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1658477453
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">
                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/lock.png" alt=""
                                                                    srcset=""></a>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1658477453
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger@mail.com
                                                        </td>
                                                        <td>
                                                            458tr
                                                        </td>
                                                        <td class="text-primary">

                                                            <a href=""><img src="/assets/icon/vue.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/del.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/up.png" alt=""
                                                                    srcset=""></a>
                                                            <a href=""><img src="/assets/icon/lock.png" alt=""
                                                                    srcset=""></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="TRACABILITE" class="icon">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title ">ACTIVITES DE L'UTILISATEUR</h4>
                                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                                    </div>

                                    <div class="card-body">


                                        <form>
                                            <div class="row">

                                                <div class="col-md-5">
                                                    <mat-form-field class="example-full-width">
                                                        <input type="text" class="form-control" id="inputPassword4"
                                                            placeholder="TYPE ACTIVITES">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-5">
                                                    <mat-form-field class="example-full-width">
                                                        <input type="text" class="form-control" id="inputPassword4"
                                                            placeholder="DATE">
                                                    </mat-form-field>
                                                </div>


                                                <div class="input-group col-md-2">
                                                    <button mat-raised-button type="submit"
                                                        class=" btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </button>


                                                </div>

                                            </div>

                                        </form>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead class=" text-primary">
                                                    <th>
                                                        ACTIVITES
                                                    </th>
                                                    <th>
                                                        DATE
                                                    </th>

                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            CONSULTATION DU DOSSIER XXX
                                                        </td>
                                                        <td>
                                                            30/04/2021
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            CONSULTATION DU DOSSIER XXXYYY
                                                        </td>
                                                        <td>
                                                            30/04/2021
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            MODIFICATION DES INFOS PERSONNELS PAR LE PATIENT XXX
                                                        </td>
                                                        <td>
                                                            30/04/2021
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            MODIFICATION DU MOT DE PASSE XXX
                                                        </td>
                                                        <td>
                                                            30/04/2021
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            LE PATIENT X A BLOQUER SON MEDECIN Y
                                                        </td>
                                                        <td>
                                                            30/04/2021
                                                        </td>

                                                    </tr>


                                                </tbody>

                                            </table>
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pg-blue justify-content-end">
                                                    <li class="page-item disabled">
                                                        <a class="page-link" tabindex="-1" mdbWavesEffect>Previous</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
                                                    <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
                                                    <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" mdbWavesEffect>Next</a>
                                                    </li>
                                                </ul>
                                            </nav>

                                        </div>

                                    </div>
                                </div>

                            </mat-tab>
                        </mat-tab-group>

                    </div>
                </div>
            </div>

        </div>
    </div>