<link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="main-content">
    <div class="container-fluid">
        <div class="row">


        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">COMPTES PATIENTS</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> PATIENTS : 150 </span> .
                        </p>
                        <p class="card-category">ACTIFS :121</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">COMPTES MEDECINS</h4>
                        <p class="card-category  ">MEDECINS :150</p>
                        <p class="card-category">ACTIFS :150</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">ACTION</h4>
                        <div>
                            <p class="card-category">

                                <button type="button" mat-raised-button data-toggle="modal"
                                    data-target="#centralModalLg">Créer Compte Patient</button>


                            </p>
                            <br />

                        </div>


                        <p class="card-category">
                            <button type="button" mat-raised-button data-toggle="modal" data-target="#creeMedecin"> Créer Compte Médecin</button>


                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 ">
                <div class="card col-lg-12">
                    <div class="card-header " style="background-color:#2196f3;">
                        <h4 class="card-title" style="text-align: center; color: rgb(255, 255, 255); font-weight: 900;">
                            NOMBRE DES CRR aujourdhui : 60</h4>

                    </div>
                    <div class="card-body table-responsive ">
                        <table class="table table-hover   ">
                            <thead style="color:#2196f3;font-weight: 900;">
                                <th>Patient</th>
                                <th>Num Dossier</th>
                                <th>Medecin prescripteur</th>
                                <th>CRR Résultat</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>xxxxx</td>
                                    <td>12355555</td>
                                    <td>ABRARE</td>
                                    <td><img src="https://efis.mk/wp-content/uploads/2019/08/pdf-icon.png" alt=""
                                            srcset="" style="width:50px; height:50px;"></td>
                                </tr>
                                <tr>
                                    <td>xxxxx</td>
                                    <td>12355555</td>
                                    <td>ABRARE</td>
                                    <td><img src="https://efis.mk/wp-content/uploads/2019/08/pdf-icon.png" alt=""
                                            srcset="" style="width:50px; height:50px;"></td>
                                </tr>
                                <tr>
                                    <td>xxxxx</td>
                                    <td>12355555</td>
                                    <td>ABRARE</td>
                                    <td><img src="https://efis.mk/wp-content/uploads/2019/08/pdf-icon.png" alt=""
                                            srcset="" style="width:50px; height:50px;"></td>
                                </tr>
                                <tr>
                                    <td>xxxxx</td>
                                    <td>12355555</td>
                                    <td>ABRARE</td>
                                    <td><img src="https://efis.mk/wp-content/uploads/2019/08/pdf-icon.png" alt=""
                                            srcset="" style="width:50px; height:50px;"></td>
                                </tr>
                                <tr>
                                    <td>xxxxx</td>
                                    <td>12355555</td>
                                    <td>ABRARE</td>
                                    <td><img src="https://efis.mk/wp-content/uploads/2019/08/pdf-icon.png" alt=""
                                            srcset="" style="width:50px; height:50px;"></td>
                                </tr>
                                <tr>
                                    <td>xxxxx</td>
                                    <td>12355555</td>
                                    <td>ABRARE</td>
                                    <td><img src="https://efis.mk/wp-content/uploads/2019/08/pdf-icon.png" alt=""
                                            srcset="" style="width:50px; height:50px;"></td>
                                </tr>
                                <tr>
                                    <td>xxxxx</td>
                                    <td>12355555</td>
                                    <td>ABRARE</td>
                                    <td><img src="https://efis.mk/wp-content/uploads/2019/08/pdf-icon.png" alt=""
                                            srcset="" style="width:50px; height:50px;"></td>
                                </tr>
                                <tr>
                                    <td>xxxxx</td>
                                    <td>12355555</td>
                                    <td>ABRARE</td>
                                    <td><img src="https://efis.mk/wp-content/uploads/2019/08/pdf-icon.png" alt=""
                                            srcset="" style="width:50px; height:50px;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="centralModalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="POST">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="modal-title">Ajouter Nouveau Patient</h4>
                        </div>
                        <div class="card-body">
                            <div class="modal-body">

                                <div class="form-row">
                                    <div class="form-group col-md-6">

                                        <input type="text" class="form-control" id="inputEmail4" placeholder="Nom"
                                            name="nom">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputPassword4" placeholder="Prenom"
                                        name="prenom"   >
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="Sexe"
                                            name="sexe">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="date" class="form-control" id="inputPassword4"
                                            placeholder="Date de Naissance" name="dateNaissance">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="Cin"
                                            name="cin" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputPassword4"
                                            placeholder="adresse" >
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="IPP"
                                            name="ipp" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputPassword4"
                                            placeholder="Medecin prescripteur" name="medecin" >
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="telephone"
                                            name="telephone" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputPassword4" name="email"
                                            placeholder="email" >
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                    <!--/.card-->
                </div>
                <!--/.modal header-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="creeMedecin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="POST">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="modal-title">Ajouter Nouveau Medecin</h4>
                        </div>
                        <div class="card-body">
                            <div class="modal-body">

                                <div class="form-row">
                                    <div class="form-group col-md-6">

                                        <input type="text" class="form-control" id="inputEmail4" placeholder="Nom"
                                            name="nom">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputPassword4" placeholder="Prenom"
                                        name="prenom"   >
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="Sexe"
                                            name="sexe">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="date" class="form-control" id="inputPassword4"
                                            placeholder="Date de Naissance" name="dateNaissance">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="Cin"
                                            name="cin" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputPassword4"
                                            placeholder="adresse" >
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="specialite"
                                            name="specialite" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputPassword4" name="email"
                                            placeholder="email" >
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="telephone"
                                            name="telephone" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputPassword4" name="etatCivil"
                                            placeholder="etatCivil" >
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                    <!--/.card-->
                </div>
                <!--/.modal header-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </form>

    </div>
</div>