<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p>
          LOGO LABO
        </p>
        <div class="card card-chart">
          <div class="card-body">
            <mat-tab-group mat-align-tabs="center">
              <mat-tab label="INFORMATION" class="icon"  >
                <div class="form-group">
                </div>
                INFORMATION
                <div class="container">
                  <div class="row">
                    <div class="col align-self-center">
                      <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">

                            <input type="text" class="form-control" id="inputEmail4" placeholder="Nom" name="nom"
                              readonly>
                          </div>
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Prenom"
                              value="prenom">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Sexe" name="sexe">
                          </div>
                          <div class="form-group col-md-6">
                            <input type="date" class="form-control" id="inputPassword4" placeholder="Date de Naissance">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Cin" name="Cin"
                              value="cin">
                          </div>
                          <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputPassword4" placeholder="adresse"
                              value="adresse">
                          </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <button type="submit" class="btn btn-info">Enregistrer</button>
                      </form>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <!-- Default form subscription 
                
                
                
                
                
                
                -->
              <mat-tab label="PHOTO">PHOTO

              </mat-tab>
                 <!-- Default form subscription 
                
                
                
                
                
                
                -->



              <mat-tab label="CONNECTION">CONNECTION
                <div class="container">
                  <div class="row">

                    <div class="col align-self-center">
                      <!-- Default form subscription -->
                      <form class="text-center border border-light p-5">
                        <p class="h4 mb-4">Changer Votre Mot de Passe</p>
                        <p>Nous vous conseillons d'utiliser un mot de passe sûr que vous n'utilisez nulle par ailleurs
                        </p>
                        <mat-form-field class="example-full-width">
                        <input matInput type="text" id="identifiant" class="form-control mb-4" placeholder="identifiant"
                          value="2021mbuala789455" readonly disabled>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input type="password" id="motDepasse" class="form-control mb-4"
                          placeholder="Votre mot de passe actuel" value="motDepasse">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input type="password" id="newpassword" class="form-control mb-4"
                          placeholder="Nouveau  mot de passe " value="newpassword">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input type="password" id="repeatpassword" class="form-control mb-4"
                          placeholder="Retapez le nouveau  mot de passe " value="repeatpassword">
                        </mat-form-field>
                        <!-- Sign in button -->
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update
                          Password</button>
                         

                        <div class="clearfix"></div>
                      </form>
                      <!-- Default form subscription -->
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>